/* This is just something that normalizes the CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*/
/* beginnging of css*/
/*body {
    padding-top: 73px;
}*/

.navbar-inverse{
background-color: rgba(32,35,41,0.7);
font-family: 'Rubik one', cursive;
font-size: 20px;
padding-top: 10px;
display: inline;
}

.navbar-brand img {
    /*height: auto;
    width: 7%;*/
    padding: 7px 14px;
    margin-bottom: 5px;
    display:flex;  
}

.navbar-brand {
    font-size: 60px;
    font-family: 'Modak',cursive;
    letter-spacing: 3px;
    align-items: center;
    display: flex;
}

.navbar-brand h1 {
    font-size: 60px;
}

.jumbotron .container {
    width: 100%;
    height: auto;
    padding:0;
}
#carousel-example-generic {
    width:100%;
    height: auto;
}
.carousel {
    width: 100%;
    height: auto;
}
.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height:100%;
}
.item img {
    width: 100%;
    height: 100%;
}
.jumbotron {
    padding:0;
    margin: 0;
    width: 100%;
    height: auto;
	/*color: rgba(255,255,255,1);
	background: url("https://c402277.ssl.cf1.rackcdn.com/photos/1368/images/story_full_width/Sumatran_Orangutan_8.6.2012_Why_They_Matter_XL_257639.jpg?1433174986");
	background-size: cover;
    padding-top: 100px;
    min-height: 700px; *//*Keeps pic big*/
}

/*#information  {
    margin-top: -30px; /*removing gap from picture*/

#information h2 {
    font-size: 40px;
    padding-bottom: 0px;
    font-family: 'Rubik one', cursive;
}

#about-us {
    background-color: rgba(40,35,41,0);
    height: auto;
    padding-top: 73px;
    margin-top: -73px;
}
#about-us p {
    font-size:20px;
}

#about-us h2 {
    text-align: center;
    
}

label {
    display: block;
}
input {
    width: 40%;
}
.logo{
    width: 60%;
    height: auto;
}
#gorillas {
    background-color: rgba(40,35,41,0);
    height: auto;
    padding-top: 73px;
    margin-top: -73px;
}
/*.profile-photo {
   margin-top: -20px;
    height: 100%;
    width: 100%;*/
}
#gorillas p {
    font-size:15px;
}

#gorillas ul {
    font-size: 15px;
}

.gorilla-text{
    height: auto;
    /*margin-right: -20px;*/
}


.virunga-logo {
    position: relative;
    width: 45%;
    height: auto;
    /*right: 50px;*/
    padding: 10px;
    /*margin-top: 10px;*/
    display: inline;
}
.virunga-button {
    /*position: relative;*/
    display:inline;
}

.gorilla-photo {
    /*background: url("http://i.dailymail.co.uk/i/pix/2014/04/14/article-2604010-1D117C4D00000578-291_634x782.jpg");
    background-size: 100%;*/
    height: auto;
    width: 60%;
    position: relative;
    margin-top: 30px
}

#orangutans {
    background-color: rgba(40,35,41,0);
    height: auto;
    padding-top: 73px;
    margin-top: -73px;
} 

.orangutan-photo{
    margin-top: 30px;
    position: relative;
    /*right: 70px;*/
    width:60%;
    height: auto;
    /*bottom: 73px;*/
}

.orangutan-foundation {
    margin-top: 60px;
}

.orangutan-logo {
    position:relative;
    display: inline;
    
}

.orangutan-button {
    position: relative;
    left: 20px;
}

#capuchins {
    background-color: rgba(40,35,41,0);
    height: auto;
    padding-top: 73px;
    margin-top: -73px;
}

.tamarin-donate {
    margin-top: 100px;
}

.tamarin-logo {
    display: inline;
    position: relative;
}

.tamarin-photo {
    width:60%;
    height:auto;
    margin-top: 30px;
}

#donations {
    height: auto;
    padding-top: 73px;
    margin-top: -73px;
    font-family: 'Rubik one', cursive;
}

#donations .container {
    width: 100%;
}

.footer {
    background-color: rgba(0,0,0,1);
    height: 200px;
    position: absolute;
    width: 100%;
}
.footer .footer-text {
    line-height: 30px;
    color: rgba(66,139,202,1);
}

.text-muted {
    color: rgba(66,139,202,1);
    font-size: 20px;
}

/*Media queries*/
@media screen and (max-width: 980px) {
    .navbar-brand h1
       {
           font-size: 25px; 
       }
}
@media screen and (max-width: 400px) {
    #information p {
        font-size: 15px;
    }
}

