/* This is just something that normalizes the CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*/
/* beginnging of css*/

.navbar-inverse{
background-color: rgba(32,35,41,0.7);
font-family: 'Rubik one', cursive;
font-size: 20px;
padding-top: 10px;
}

.navbar-brand{
    font-size: 55px;
    font-family: 'Modak',cursive;
}

.jumbotron {
	color: rgba(255,255,255,1);
	background: url("https://c402277.ssl.cf1.rackcdn.com/photos/1368/images/story_full_width/Sumatran_Orangutan_8.6.2012_Why_They_Matter_XL_257639.jpg?1433174986");
	background-size: cover;
    padding-top: 100px;
    min-height: 700px; /*Keeps pic big*/
}
.jumbotron h1 {
    font-size: 30px;
    margin-top: -20px;
    margin-left: -30px;
    font-family: 'Sigmar One', cursive;
    /*border: solid;
    border-radius: 20px;
    border-color: black;*/
}
#information {
    color: rgba(32,35,41,1);
    margin-top: -20px; /*removing gap from picture*/
}
#information h2 {
    font-size: 40px;
    padding-bottom: 20px;
}
#information .container {
    padding: 20px;
    height: 600px; /*size of each div*/
}
#about-us {
    background-color: rgba(40,35,41,0.3);
    height: 600px;
}
#gorillas{
    background-color: rgba(40,35,41,0.1);
}
#orangutans {
    background-color: rgba(40,35,41,0.3);
}
#capuchins {
    background-color: rgba(40,35,41,0.1);
}
#lemurs {
    background-color: rgba(40,35,41,0.3);
}
#donations {
    height: 300px;
}

.footer {
    background-color: rgba(0,0,0,1);
    height: 60px;
    position: absolute;
    width: 100%;
}

.text-muted {
    color: rgba(255,255,255,1);
}



/* The side navigation menu */
#mySidenav {
    height: 100%; /* 100% Full-height */
    width: 200px; /* 0 width - change this with JavaScript */
    position: relative; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: -550px;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border: 10px;
    border-radius: 20px;
}

/* The navigation menu links */
#mySidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    }
 
 .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}